table {
    border-collapse: collapse;
    margin: auto;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
  input[type=file]::file-selector-button {
margin-right: 20px;
border: none;
background:  #66b3ff;
padding: 7px 10px;
border-radius: 8px;
color: #fff;
cursor: pointer;
transition: background .2s ease-in-out;
}
.submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
.submit-button {
    background-color: #29a3a3;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .submit-button:hover {
    background-color:  #99e6e6; /* Change this to the desired hover color */
  }
  .top-strip {
          background-color: blue;
          height: 50px; /* Set your desired height */
          width: 100%; /* Full width */
      }
      
      .logo {
          display: inline-block;
          padding: 10px; /* Adjust padding as needed */
          color: rgb(224, 215, 215);
          font-size: 30px;
      }
      .logo img {
          max-height: 21.5%;
          max-width: 21.5%;
      }