<!DOCTYPE html>
<html>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">



<head>
    <title>Stock Update</title>
</head>
<body>
    <div class="video-background">
        <video autoplay muted loop id="video-bg">
            <source src="{{ url_for('static', filename='bcground.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="top-strip">
        <div class="logo">
            <!-- Add your logo or text here -->

            <img src="{{ url_for('static', filename='nurg.png') }}" alt="Logo">
        
        </div>
    </div>
    <center><h1>Component Stock Update</h1></center>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <div>
            <table>
                <tr>
                    <th>File Name</th>
                    <th>Upload</th>
                </tr>
                <tr>
                    
                    <td><label for="file1">Plan file</label></td>
                       <td><input type="file" name="file1" id="file1" required></td>
                </tr>
                <tr>
                    
                    <td><label for="file1">BOM File</label></td>
                       <td><input type="file" name="file2" id="file2" required></td>
                </tr>
                <tr>
                    
                    <td><label for="file1">Stock file</label></td>
                       <td><input type="file" name="file3" id="file3" required></td>
                </tr>
            </table>

        </div>
        <br>
        <div style="display: flex; justify-content: center;">
        <input type="submit" value="Submit" class="submit-button"></div>
        
    </form>
    <br>
    <!-- <div class="table-container" style="display: none;"> -->
    <div style="display: flex; justify-content: center;">
    <table id="download-table" style="display: block;">
        <tr>
            <th>Output Files</th>
            <th>Download</th>
        </tr>
        <tr>
            <td>Allotment File</td>
            <td><a href="/download/alloting_process.xlsx" class="download">Download</a></td>
        </tr>
        <tr>
            <td>Updated Stock</td>
            <td><a href="/download/updated_stock.xlsx" class="download">Download</a></td>
        </tr>
        <tr>
            <td>Updated Plan</td>
            <td><a href="/download/updated_plan.xlsx" class="download">Download</a></td>
        </tr>
    </table>
</div>

        <div style="position: absolute; bottom : 5px;right:1px; ">
            <marquee width="100%" direction="left" height="30px" style="font-size: 20px">
                "Web maintenance is scheduled between 21:00 hrs and 00:00 hrs. Please refrain from using the service during this time or contact the relevant authority for assistance."
                </marquee>
        </div>
    </div>
</body>
<!-- <script>
    // Get a reference to the form and the table
    var form = document.querySelector('form');
    var downloadTable = document.getElementById('download-table');

    // Add an event listener to the form submission
    form.addEventListener('submit', function (event) {
        // Prevent the default form submission (refresh)
        event.preventDefault();

        // Show the table after the form is submitted
        downloadTable.style.display = 'block';
        // tableContainer.style.display = 'flex';
    });
</script> -->
</html>
